<div class="row m-0">

<div id="calendar_lg" class="col-md-8">
<h1>Schedules</h1>
<%= month_calendar events: @schedules do |date, schedules| %>
  <%= date.strftime(" %d") %>
  <% schedules.each do |schedule| %>
    <div id="schedule-pop">
    <p data-toggle="popover" title='<%= schedule.name %>'  data-content='<%= schedule.description %>'><%= schedule.name %></p>
    </div>
  <% end %>
<% end %>
</div>
<div class="col-md-4">
<div class="card card-plain card-list">                
  <div class="card-body">
      <% @schedules.each do |schedule| %>
      <div>
          <h6><%= schedule.name %></h6>
          <p><%= schedule.description %></p>
          <em>Start: <%= schedule.start_time.strftime("%m/%d/%Y") %> <%= schedule.start_time.strftime("%I:%M%p") %></em>
          <br>
          <em>End: <%= schedule.end_time.strftime("%m/%d/%Y") %> <%= schedule.end_time.strftime("%I:%M%p") %></em>
          <div class="row links">
          <div class="col-md-4 ">
            <p><%= link_to edit_schedule_path(schedule), class: "fa fa-pencil-square-o" do %>
            <span class="back">Edit</span>
            <% end %></p>
          </div>
          <div class="col-md-4 ">
            <p class="trash"><%= link_to schedule, method: :delete, class: "fa fa-trash-o", data: { confirm: "Are you sure?" } do %>
            <span class="back">Delete</span>
            <% end %></p>
            </div>
          </div>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Schedule', new_schedule_path %>

  </div>
<br>
</div>
</div>
</div>
</div>

